# Example - copy to keystore.properties in same folder (android-app/) and fill your passwords
# DO NOT commit keystore.properties or *.jks to GitHub - already in .gitignore
storeFile=app/sanda_release.jks
storePassword=dsr316pw
keyAlias=sanda_key
keyPassword=dsr316pw
